*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box; /* does not allow to add borders */
}

.main-wrapper {
  height: 100vh;
  background-image: url('/starwars-deadstar.jpg');
  background-repeat: no-repeat;
  color: white;

}
